package {{package}};

{{#imports}}import {{import}};
{{/imports}}

import com.google.gson.annotations.SerializedName;
{{#models}}

{{#model}}{{#description}}
/**
 * {{description}}
 **/{{/description}}
public class {{classname}} {{#parent}}extends {{{parent}}}{{/parent}} {
    {{#vars}}{{#isEnum}}
    public enum {{datatypeWithEnum}} {
        {{#allowableValues}}{{#values}} {{.}}, {{/values}}{{/allowableValues}}
    };
    @SerializedName("{{name}}")
    public final {{{datatypeWithEnum}}} {{name}};{{/isEnum}}{{^isEnum}}
    @SerializedName("{{name}}")
    public final {{{datatype}}} {{name}};{{/isEnum}}{{/vars}}

    {{#hasVars}}
    public {{classname}}(
        {{#vars}}{{{datatypeWithEnum}}} {{name}}{{#hasMore}},
        {{/hasMore}}{{/vars}}
    ) {
        {{#vars}}
        this.{{name}} = {{name}};
        {{/vars}}
    }
    {{/hasVars}}

    @Override
    public boolean equals(Object o) {
        if (this == o) {
            return true;
        }
        if (o == null || getClass() != o.getClass()) {
            return false;
        }
        {{classname}} {{classVarName}} = ({{classname}}) o;{{#hasVars}}
        return {{#vars}}(this.{{name}} == null ? {{classVarName}}.{{name}} == null : this.{{name}}.equals({{classVarName}}.{{name}})){{#hasMore}} &&
                {{/hasMore}}{{^hasMore}};{{/hasMore}}{{/vars}}{{/hasVars}}{{^hasVars}}
        return true;{{/hasVars}}
    }

    @Override
    public int hashCode() {
        int result = 17;
        {{#vars}}
        result = 31 * result + (this.{{name}} == null ? 0: this.{{name}}.hashCode());
        {{/vars}}
        return result;
    }

}
{{/model}}
{{/models}}
